<% provide(:title, 'Contact') %>
<div class="container">	
	<h1>Contact</h1>
	<section id="contact-form">
				<div class="container inner">
					
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								
								<div class="col-sm-6 outer-top-md inner-right-sm">
									
									<h2>Nous trouver</h2>
									
									<div id="map" style="height:300px; width:100%; margin-bottom:10px;"></div>

									
								</div><!-- ./col -->
								
								<div class="col-sm-6 outer-top-md inner-left-sm border-left">
									
									<h2>Informations</h2>
									<p>L’école de kinésithérapie de Saint Maurice se trouve au sein des hôpitaux de Saint Maurice dans une ancienne abbaye classée monument historique national.</p>
									
									<h3>Notre bureau</h3>
									<ul class="contacts">
										<li><i class="fa fa-location"></i>EEKSM : 12 rue Val d'Osnes 94410 Saint-Maurice</li>
										<li><a href="mailto:president.stmo@gmail.com"><i class="icon-mail-1 contact"></i>Contact président</a></li>
										<li><a href="mailto:vp-part94@hotmail.fr"><i class="icon-mail-1 contact"></i>Contact partenariat</a></li>
									</ul><!-- /.contacts -->
										
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
</div>