<h1>EEKSM</h1>

<p>Bonjour <%= @user.name %>,</p>

<p>
Bienvenue sur le site de l'EEKSM. Clique sur le lien suivant afin d'activer ton compte et d'acceder au site :
</p>

<%= link_to "Activer mon compte", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>