<% if @feed_items.any? %>
<div id="profile-page-wall-posts"class="row">
	<div class="col s12">
		<!-- medium -->

			<%= render @feed_items %>
	</div>
</div>
<%= will_paginate @feed_items %>
<% end %>