<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2016 <%= link_to "Contact",   contact_path %> All rights reserved.</span>
        <span class="right"> Design and Developed by <%= link_to "About",   about_path %>BDE</a></span>
        </div>
    </div>
  </footer>